.container {
  background: blue;
  width: 80vw;
  height: 80vw;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.parent {
  background: black;
  color: white;
  width: 300px;
  height: 300px;
  border-radius: 10%;

  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 1s infinite linear reverse;
}

.ball {
  background: radial-gradient(white, red);
  width: 50px;
  height: 50px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: 10px;

  /* 
  animation: name duration timing-function delay
  iteration-count direction fill-mode; */

  /* animation: circle 1s infinite ease-in-out; */
  /* animation: circle 2s infinite linear; */
  animation: circle 2s infinite linear;
}

@keyframes circle {
  0% {
    background: radial-gradient(white, red);
    top: 100px;
    left: 100px;
  }

  25% {
    top: 100px;
    left: 70vw;
  }

  50% {
    top: 60vh;
    left: 70vw;
  }

  75% {
    top: 60vh;
    left: 100px;
  }

  100% {
    background: radial-gradient(white, yellow);
    top: 100px;
    left: 100px;
  }
}

h2 {
  animation: rotate 0.5s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
